html {
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.col-1 	{
    width:8.33%;
}
.col-2 	{
    width:16.66%;
}
.col-3 	{
    width:25%;
}

.col-4 	{
    width:33.33%;
}
.col-5 	{
    width:41.66%;
}
.col-6 	{
    width:50%;
}
.col-7 	{
    width:58.33%;
}
.col-8 	{
    width:66.66%;
}
.col-9 	{
    width:75%;
}
.col-10 	{
    width:83.33%;
}
.col-11 	{
    width:91.66%;
}
.col-12 	{
    width:100%;
}
[class*="col-"] {
    float: left;
}

body {
    margin: 0px;
    display: grid;
}

header {
    background-color: rgb(35, 45, 75);
}

header h1 {
    color: white;
}

header h2 {
    color: rgb(229, 114, 0);
}

nav {
      background-color: rgb(200, 203, 210);
      padding: 10px;
    }

nav a {
    color: rgb(73, 94, 157);
    margin: 50px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color:  rgb(35, 45, 75);
    padding-bottom: 10px;
    color: white;
}

.about-flex-container {
    margin: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: solid 5px black;
    text-align: center;
}
.about-flex-div {
    margin-bottom: 2em;
}

#highlight-container {
    width: 60%;
    margin: 20px;
    padding: 10px;
    display: flexbox;
    justify-content: center;
    justify-self: center;
    border: solid 5px black
}

#footer-nav {
    margin-bottom: 10px;
}

.highlight-element {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: solid 5px black
}

.highlight-image {
    width: 30%;
    border: solid black 4px;
}

.about-image {
    width: 30%;
    border: solid black 4px;
}
.contact-image {
    width:10%;
    border: solid black 4px;
}


.center-image {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border: 5px solid Black;
    width: 50%;
}